.containerReservationTour{
    width: 100%;
    height: 500px;
}

.reservationInputs{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;

}
.reservationInputs input{
    width: 456px;
   margin: 10px;
}

.reservationTitle{
    display: flex;
    align-items: center;
    flex-direction: column;
     
}
.reservationInputs button{
    width: 462px;
    height: 40px;
    background-color: aquamarine;
    margin: 10px;
}
