.categoriesContainer{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
}
.category{
    color: black;
    text-decoration: none;
}
.categoryName{
    padding: 10px;
    font-size: 18px;
}
.categoryName:hover{
    border-bottom: 1px solid #1f1f1f;
    margin: 0px 10px 1px 10px;
    transform: translateY(-5px);
    transition: 1s;
    margin: -5;
}