
/* .container{
    display: flex;
    width: 1000px;
    justify-content: space-between;
} */

.orderTable {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .infoOrd {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  


